@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section id="sobre">
        <h2>Muito conteúdo: do frontend ao backend</h2>
        <h3>15 de Agosto de 2021 - São Paulo/SP</h3>
        <p>Com a ConfTech abordaremos novidades e conhecimentos essenciais para um desenvolvedor fullstack.</p>
        <p>Quer ficar por dentro dos assuntos mais modernos do universo da programação?
            <a class="card-link link-paragrafo" asp-area="" asp-controller="Inscricao" asp-action="Index">Inscreva-se!</a>
        </p>
        
    </section>
</div>
