@{
    ViewData["Title"] = "Palestrantes";
}

<div class="text-center">
    <section id="secao-palestrantes">
        <h2 id="titulo-palestrantes">Palestrantes</h2>
        <p id="p-palestrantes">Aprenda com profissionais da área que são referência no mercado</p>
        <section id="palestrantes">
            <div>
                <img />
                <h3>Nome Do Palestrante</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
                <img />
                <h3>Nome Do Palestrante</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
                <img />
                <h3>Nome Do Palestrante</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
                <img />
                <h3>Nome Do Palestrante</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
                <img />
                <h3>Nome Do Palestrante</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
                <img />
                <h3>Nome Do Palestrante</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>

        </section>
    </section>
</div>
