<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConfTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="background-navbar">
            <div class="container menu-nav">
                <a class="nav-botao-home" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>CONFTECH</h1>
                    <h2 id="subtitulo">A conferência de tecnologia mais esperada do ano</h2>
                    <p id="sub-subtitulo">15 DE AGOSTO - SÃO PAULO</p>
                </a>
                <div class="menu-botoes-nav">
                    <a class=" botoes-action botao-palestrantes" asp-area="" asp-controller="Home" asp-action="Palestrantes">Confira os palestrantes</a>
                    <a class=" botoes-action botao-inscricao" asp-area="" asp-controller="Inscricao" asp-action="Index">INSCREVA-SE</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; CONFTECH 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
